{:recipes
 {:cake
  {:ingredients {:flour 2, :baking-powder 1, :almond-milk 1, :sugar 1},
   :steps
   [[:add :flour]
    [:add :baking-powder]
    [:add :almond-milk]
    [:add :sugar]
    [:mix :dry]
    [:mix :wet]
    [:pour :wet :dry]
    [:mix :dry]
    [:pour :dry :pan]
    [:bake 25]
    [:cool]]},
  :cookies
  {:ingredients {:flour 1, :corn-starch 1, :sugar 1, :coconut-oil 1},
   :steps
   [[:add :flour]
    [:add :corn-starch]
    [:add :sugar]
    [:add :coconut-oil]
    [:mix :dry]
    [:mix :wet]
    [:pour :wet :dry]
    [:mix :dry]
    [:pour :dry :pan]
    [:bake 30]
    [:cool]]},
  :brownies
  {:ingredients
   {:coconut-oil 2, :cocoa 2, :sugar 1, :almond-milk 1, :flour 2},
   :steps
   [[:add :coconut-oil]
    [:add :cocoa]
    [:add :sugar]
    [:mix :wet]
    [:add :almond-milk]
    [:mix :wet]
    [:add :flour]
    [:pour :wet :dry]
    [:mix :dry]
    [:pour :dry :pan]
    [:bake 35]
    [:cool]]}},
 :ingredients
 {:flour {:location :pantry, :add-method :scooped, :bowl :dry},
  :sugar {:location :pantry, :add-method :scooped, :bowl :wet},
  :corn-starch {:location :pantry, :add-method :scooped, :bowl :dry},
  :baking-powder {:location :pantry, :add-method :scooped, :bowl :dry},
  :cocoa {:location :pantry, :add-method :scooped, :bowl :wet},
  :coconut-oil {:location :pantry, :add-method :scooped, :bowl :wet},
  :almond-milk {:location :fridge, :add-method :scooped, :bowl :wet},
  :lemon {:location :fridge, :add-method :squeezed, :bowl :wet}}}
