{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        lispcast/bakery2 {:git/url "https://github.com/lispcast/bakery2"
                          :git/sha "2b2dec989bbad9b50899b540355352440b8ae3fc"}}}